<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1><span style="text-decoration: underline; color: #ba372a;"><em><strong>Ben olsam asla tıklamazdım</strong></em></span></h1>
<h2><span style="color: #ba372a;"><a style="color: #ba372a;" title="tıklama" href="http://127.0.0.1:5000/page2">tıkla</a><a style="color: #ba372a;" title="tıklama" href="http://127.0.0.1:5000">ma</a></span></h2>
<h1><span style="text-decoration: underline; color: #ba372a;"><em><strong><img src="https://as1.ftcdn.net/v2/jpg/01/96/24/20/1000_F_196242038_wktQ6F6eG0vw2bmbVU8OJTVGs7SNvJxh.jpg" alt="Buton" width="1000" height="786" /></strong></em></span></h1>
<h1>&nbsp;</h1>
</body>
</html>
